
@import '../variables';

.favourit-icon {
    cursor: pointer;
    font-size: 25px !important;
    min-width: 25px;
    left: 0;
    top: 0;
    z-index: 3 !important;
    @include transition (all, 0.1s, ease-in);
    &:hover {
        -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
        filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    }
}

.text-lovo {
    color: $color-lovo;
}

.news-card {

    @include transition (all, 0.2s, ease-in-out);
    &:hover {
        // box-shadow: 1px 1px 5px;
        box-shadow: 0 0 15px -4px #21252985

    }
}
