@import './variables';

.header {
  background-color: #7361d4;
  color: white;
}

.btn-outline-lovo {
  color: $color-lovo;
  border-color: $color-lovo;

  &:hover {
      color: #fff;
      background-color: $color-lovo;;
  }
}

.text-lovo {
  color: $color-lovo !important;
}
